/* Top Nav*/

html {
    height: 100%;
    font-family: 'Asap', sans-serif;
}

body {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient( 35deg, #7EC6FF, #FFB989);
}

/* Basic Layout */
.topNav {
    height: 10%;
    padding: 0 150px 0 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mainContent {
    height: 80%;
}

.footer {
    color: black;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.menuitem {
    text-decoration: None;
    color: black;
    font-weight: 300;
    font-size: 18px;
}

.menuitem:hover {
    color: white;
}

/*MJM*/

#mjm {
    font-size: 400px;
}

#megan {
    border-radius: 50px;
    float: left;
}

.fa {
    color: black;
    padding: 5px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

h2 {
    border-width: 500px;
    background-color: blue;
}